/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_tree .
 */

@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
  }
}

h2.header {
  border-left: 7px solid #ccc;
  border-bottom: 1px dashed #ccc;
  padding: .2em .4em;
  margin-top: 10px;
  margin-bottom: 20px;
}

table.table thead tr,
table.table tbody tr {
  td {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
  }

  .title {
    vertical-align: middle;
    width: 30%;
  }

  .name {
    font-size: 12px;
  }

  .btn {
    margin: 5px 10px;
  }
}

input.width-auto{
  width: auto;
}

form .field input,
form .field span {
  font-size: 24px;
}

.center-horizontal {
  text-align:center;
  margin: 5px auto;
}

.navbar-nav > li > a.login-user {
  padding-top: 9px;
  padding-bottom: 9px;
}

span.category-pink {
  background-color: #cc0256;
}

span.category-red {
  background-color: #d62100;
}

span.category-viridian {
  background-color: #00493f;
}

span.category-blue {
  background-color: #0051ba;
}

span.category-orange {
  background-color: #F47c00;
}

span.category-yellow {
  background-color: #fce016;
}

span.category-green {
  background-color: #009e0f;
}

.warning-color {
  color: #d62100;
}