/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require dataTables/jquery.dataTables.bootstrap3
 *= require_tree .
 */

@import "bootstrap";

/*
 * navbar
 */

/* remove margin-bottom*/
nav.navbar {
  margin-bottom: 0px;
}

/* vertically centering elements */
.navbar-header > .navbar-brand {
  padding: 20px;
}

.search-form {
  padding-left: 5px;
  padding-right: 5px;
}

ul.navbar-nav > li > a.login-user {
  padding-top: 15px;
  padding-bottom: 15px;
}

ul.navbar-nav > li > span.hosts {
  position: relative;
  display: block;
  padding: 20px 15px;
}

ul.navbar-nav > li.logout {
  position: relative;
  display: block;
  padding: 5px 5px;
}

ul.dropdown-menu > li > a {
  padding: 8px 20px;
}

div.navbar-margin {
  height: 70px;
}

a.dropdown-toggle i.glyphicon {
  font-size: 1.8em;
  margin: 2px;
}

/*
 * container
 */

/* fit width to screen*/
div.container {
  width: auto;
  margin-right: 10px;
  margin-left: 10px;
}

h2.header {
  font-size: 24px;
  border-left: 7px solid #ccc;
  border-bottom: 1px dashed #ccc;
  padding: .2em .4em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-fluid .jumbotron {
  border-radius: 6px;
}

/*
 * table
 */

table.table thead tr,
table.table tbody tr {
  th, td {
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
  }

  td.login-name {
    text-align: left;
  }

  td.login-name-hiragana {
    width: 30%;
    text-align: left;
  }

  td.dashboard-thumbnail {
    width: 36px;
  }

  th.nowrap, td.nowrap {
    white-space: nowrap;
  }

  .title {
    vertical-align: middle;
  }

  .name {
    font-size: 12px;
  }

  .btn {
    margin: 5px 10px;
  }
}

table#login_users tbody tr td{
  font-size: 26px;
}

table.table tbody tr.pointer {
  cursor: pointer;
  cursor: hand;
}

.collapse-data {
  visibility:collapse;
}

/*
 * form
 */

input.width-auto{
  width: auto;
}

form .field input,
form .field span {
  font-size: 24px;
}

.center-horizontal {
  text-align:center;
  margin: 5px auto;
}

.navbar-nav > li > a.login-user {
  padding-top: 9px;
  padding-bottom: 9px;
}

div.alert-top {
  margin-top: 10px;
  margin-bottom: 10px;
}
/*
 * mesage part
 */

.inside {
  font-size: 16px;
  margin: 5px 15px;
  padding: 10px;
}

.inside p {
  font-size: 16px;
}

/*
 * color
 */

span.category-pink {
  background-color: #cc0256;
}

span.category-red {
  background-color: #d62100;
}

span.category-viridian {
  background-color: #00493f;
}

span.category-blue {
  background-color: #0051ba;
}

span.category-orange {
  background-color: #F47c00;
}

span.category-yellow {
  background-color: #fce016;
}

span.category-green {
  background-color: #009e0f;
}

.available-color {
  color: #009e0f;
}

.unavailable-background {
  background-color: #eeeeee;
}

.warning-color {
  color: #d62100;
}

#progress {
  position: fixed;
  height: 6px;
  background: #00a9ff;
  bottom: 0;
  z-index: 200;
}