// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show
.row-thumb {
  text-align:center;
  vertical-align:middle;
  margin: 10px auto;
}

.row-table {
  margin: 10px auto;
}

